/*page load styling */
.heading {
    font-size: 4.5em;
    font-family: 'Roboto';
    margin-top: 15%;
    margin-left: 41%;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#startGame {
    border-radius: 5px;
    height: 50px;
    width: 150px;
    margin-left: 46.5%;
    background-color: white;
}

/*choose player styling */
h1 {
    font-size: 4.5em;
    font-family: 'Roboto';
    margin-left: 41%;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-top: 3%;
}
.moveHeading {
    animation: slideUp 2s;
}

@keyframes slideUp {
    from {
        margin-top: 15%;
    }
    to {
        margin-top: 3%;
    }
}

.slideAiBtn {
    animation: slideLeft 2s;
}

@keyframes slideLeft {
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 0%;
    }
}

.slideTwoPlayer {
    animation: slideRight 2s;
}

@keyframes slideRight {
    from {
        margin-right: 0%;
    }
    to {
        margin-right: 0%;
    }
}

#choosePlayerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 25%;
    margin: 0 auto;
    gap: 30%;

}

#button0 {
    
}

#button1 {
    
    
}

button {
    width: 100%;
    height: 4em;
}